:root {
  --base-0: #ffffff;
  --base-1000: #000000;

  --gray-100: #f8f8f8;
  --gray-200: #f5f5f5;
  --gray-300: #eeeeee;
  --gray-400: #e5e5e5;
  --gray-500: #dddddd;
  --gray-600: #bbbbbb;
  --gray-700: #aaaaaa;
  --gray-800: #8e8e8e;
  --gray-900: #888888;

  --charcoal-300: #767676;
  --charcoal-400: #555555;
  --charcoal-500: #4f4f4f;
  --charcoal-600: #444444;
  --charcoal-700: #333333;
  --charcoal-800: #222222;
  --charcoal-900: #111111;

  --slate-100: #f9fafb;
  --slate-500: #c2cace;
  --slate-800: #202632;
  --slate-900: #151921;

  --lime-100: #beead8;
  --lime-500: #14cc80;
  --lime-700: #00bb64;

  --olive-500: #3d9970;
  --olive-700: #078573;
  --olive-800: #0e7868;

  --aqua-100: #ddfffa;
  --aqua-500: #6af0db;
  --aqua-600: #39cccc;
  --aqua-800: #238072;

  --green-100: #fafdfa;
  --green-400: #2ecc40;
  --green-500: #00be13;
  --green-700: #00a110;

  --red-100: #fdf5f5;
  --red-500: #f83f23;
  --red-600: #eb130f;
  --red-700: #db260a;

  --orange-100: #fff8e7;
  --orange-500: #ffba11;
  --orange-700: #ff851b;

  --yellow-500: #ffdc00;

  --blue-200: #eff9ff;
  --blue-400: #7fdbff;
  --blue-600: #337ab7;
  --blue-700: #0a568d;

  --purple-100: #f1efff;
  --purple-300: #a195ef;
  --purple-600: #4b19d5;
  --purple-700: #2d2081;

  --pink-100: #ffedf9;
  --pink-400: #f198d3;
  --pink-700: #921f6b;
  --pink-800: #85144b;

  --link: var(--lime-500);
  --white: var(--base-0);
  --black: var(--base-1000);
  --borders: var(--gray-500);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: var(--charcoal-500);
  background: white;
}
* {
  outline: none;
}

/* Normal boxes */
.react-flow__node-default,
.react-flow__node-input {
  background: var(--green-100);
  border: 1px solid var(--lime-500);
  border-radius: 4px;
  text-align: left;
  height: auto;
  font-size: 14px;
  color: var(--charcoal-700);
  padding: 8px;
  line-height: 18px;
  line-break: anywhere;
}

.StepGroup {
  background: var(--purple-100);
  border-color: var(--purple-600);
}

.react-flow__node-default:hover,
.react-flow__node-input:hover {
  box-shadow: none;
}

/* Selected */
.react-flow__node-default.selectable.selected,
.react-flow__node-default.selectable:focus {
  border-color: transparent;
  box-shadow: 0 0 0 2px var(--lime-500);
}

.react-flow__node-default .react-flow__handle {
  opacity: 0;
}

/* The lines */
.react-flow__edge-path {
  stroke-width: 1.5px;
  stroke: var(--slate-500);
  stroke-opacity: 0.5;
  stroke-linecap: round;
  transition: stroke 0.16s;
}
.selected .react-flow__edge-path {
  stroke: var(--purple-600);
  stroke-width: 2px;
  stroke-opacity: 1;
}

/* Groups */
/* Handle */

div.react-flow__node .moveable-control-box {
  --moveable-color: var(--purple-600);
}
div.react-flow__node .moveable-control-box div.moveable-control {
  background: var(--base-0);
  border: 1.5px solid var(--purple-600);
  border-radius: 2px;
  box-shadow: 0 0 0 2px var(--slate-100);
}

/* Controls */
.react-flow__controls {
  bottom: 20px;
  left: 20px;
  border-radius: 8px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    0px 3px 0px 1px rgba(0, 0, 0, 0.05);
}
.react-flow__controls-button {
  width: 36px;
  height: 36px;
  border: none;
  border-bottom: 1px solid var(--gray-500);
  position: relative;
  z-index: 1;
}
.react-flow__controls-button:hover {
  background: var(--slate-100);
}
.react-flow__controls-button:focus {
  background: var(--purple-100);
}
.react-flow__controls-button svg {
  display: none;
}
.react-flow__controls-button:last-child {
  border: none;
}
.react-flow__controls-button.react-flow__controls-zoomin::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--slate-800);
  -webkit-mask: url("https://assets.codepen.io/1131375/icon-36-plus.svg") center
    no-repeat;
  mask: url("https://assets.codepen.io/1131375/icon-36-plus.svg") center
    no-repeat;
}
.react-flow__controls-button.react-flow__controls-zoomout::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--slate-800);
  -webkit-mask: url("https://assets.codepen.io/1131375/icon-36-minus.svg")
    center no-repeat;
  mask: url("https://assets.codepen.io/1131375/icon-36-minus.svg") center
    no-repeat;
}
.react-flow__controls-button.react-flow__controls-fitview::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--slate-800);
  -webkit-mask: url("https://assets.codepen.io/1131375/icon-36-fit.svg") center
    no-repeat;
  mask: url("https://assets.codepen.io/1131375/icon-36-fit.svg") center
    no-repeat;
}
.react-flow__controls-button.react-flow__controls-interactive::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--slate-800);
  -webkit-mask: url("https://assets.codepen.io/1131375/icon-36-lock.svg") center
    no-repeat;
  mask: url("https://assets.codepen.io/1131375/icon-36-lock.svg") center
    no-repeat;
}
.react-flow__controls-button:focus::before {
  background-color: var(--purple-600);
}
/* Group thingo */
.Toolbar {
  box-shadow: none;
  border: none;
  border-radius: 4px;
  bottom: 20px;
  right: 20px;
  border-radius: 8px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
    0px 3px 0px 1px rgba(0, 0, 0, 0.05);
}

/* Canvas */
.react-flow__background circle {
  fill: var(--slate-500);
  cx: 10;
  cy: 10;
  r: 1;
}
.react-flow__background {
  background: var(--slate-100);
}
